/*font-family: 'PT Sans', sans-serif;*/
body{
	font-family: 'PT Sans', sans-serif;
	color: #010101;
}
/*header start here*/
header{
	background-color: #fcdb00;
	padding: 5px 0;
}
.logo{}
.menu ul li a{
	font-weight: 700;
	font-size: 22px;
	color: #010101 !important;
	padding: 0 35px !important;
	transition: 0.3s;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: white !important;
}
/*header ends here*/

/*slider start here*/
.slider{
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: #fcdb00;
}
.carousel-indicators{
	bottom: -50px;
}
.carousel-indicators li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.slider_content{
	margin-top: 70px;
}
.slider_content h1{
	margin: 0;
	font-size: 27px;
	font-weight: 700;
}
.slider_content h2{
	margin-bottom: 0;
	margin: 20px 0;
	font-size: 17px;
	font-weight: 400;
	color: #313841;
}
.slider_content p{
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 400;
	color: #555555;
}
.slider_icon{}
.slider_icon li i{
	margin-right: 20px;
	font-size: 42px;
	font-weight: 400;
	color: #010101;
	transition: 1s;
}
.slider_icon li i:hover{
	transform: rotate(360deg);
	color: white;
}
.slider_image{
	margin-left: 10px;
}
.slider_image img{}
/*slider ends here*/

/*feature start here*/
.feature{
	margin-top: 60px;
	margin-bottom: 80px;
}
.c_title{}
.c_h1{
	font-size: 32px;
	font-weight: 700;
}
.c_p{
	font-size: 20px;
	color: #313841;
}
.m_t_60{
	margin-top: 60px;
}
.s_icon{
	font-size: 40px;
}
.s_text{}
.s_text h2{
	font-size: 28px;
	font-weight: 400;
}
.s_text p{
	font-size: 16px;
	font-weight: 400;
	color: #898989;
	line-height: 20px;
}
/*feature ends here*/
/*contact start*/
.contact{
	background-color: #010101;
	padding-top: 60px;
	padding-bottom: 80px;
}
.yellow{
	color: #fcdb00;
}
.ash{
	color: #898989;
}
.contact form{
	margin-top: 25px;
	margin-bottom: 50px;
}
.form_email{}
.form_email input{
	width: 100%;
	height: 50px;
	padding-left: 15px;
	background-color: white;
	border: 1px solid white;
	border-radius: 5px;
}
.form_email input:focus{
	outline: 0;
}
.form_submit{}
.form_submit button{
	width: 100%;
	height: 50px;
	background-color: yellow;
	border:1px solid yellow;
	border-radius: 5px;
	transition: 0.5s	
}
.form_submit button:focus{
	outline: 0;
}
.form_submit button:hover{
	background-color: white;
}
.social_icon{}
.social_icon ul li{}
.social_icon ul li a{
	width: 36px;
	height: 36px;
	border-radius: 3px;
	background-color: yellow;
	display: inline-block;
	color: black;
}
.social_icon ul li a i{
	color: black;
	font-size: 30px;
	transition: 0.5s;
}
.social_icon ul li a i:hover{
	transform: rotate(360deg);
	color: white;
	background-color: blue;
}
/*contact ends*/

/*footer start*/
footer{
	background-color: #010101;
}
footer address{
	margin-bottom: 0;
}
.footer_1{
	margin: 0;
	color: white;
}
.footer_1 p{
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}
.footer_1 a{
	margin: 0;
	color: white;
	font-family: 'PT Sans', sans-serif;
}
/*footer ends*/
